@import './utils/variables';
@import './utils/reset-style';
@import './utils/layout';
@import './utils/placeholders';
@import './components/buttons';
@import './components/logo';
@import './components/header';
@import './components/hero';
@import './components/benefits';
@import './components/works';
@import './components/team';
@import './components/socials-nets';
@import './components/clients';
@import './components/portfolio-buttons';
@import './components/portfolio-cards';
@import './components/footer';
@import './components/popup';
@import './components/popup-form'
