%button {
    min-width: 200px;
    min-height: 50px;

    border-radius: 4px;
    border: none;
    
    background-color: $accent-color;
    color: $white-color;
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
        
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

%is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

%title {
    color: $title-text-color;
    
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}