.header {
    border-bottom: 1px solid #ECECEC;
    background-color: $white-color;
}

.header__container {
    display: flex;
    /* align-content: center; */
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav__list {
    display: flex;
    margin-left: 93px;
}

.main-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;

    transition: color $animation;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $accent-color;
    }
    &--active {
        color: $accent-color;
    }

    &--active::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        
        width: 100%;
        height: 4px;
        
        background-color: $accent-color;
        
        border-radius: 2px;
    }
}

.main-nav__item:not(:last-child) {
    margin-right: 50px;
}

.auth-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.auth-nav__link {
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    color: inherit;

    transition: color $animation;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.auth-nav__icon {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
}

.auth-nav__item:not(:last-child) {
    margin-right: 30px;
}