.logo {
    color: $accent-color;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo__text {
    &--black {
        color: $title-text-color;
    }
    &--white {
        color: $white-color;
    }
}

