.popup-form__title {
    @extend %title;
    font-size: 20px;
}

.popup-form {
    margin-top: 12px;
}

.popup-form__field {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 4px;
    margin-bottom: 10px;
}

.popup-form__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.popup-form__wrap {
    position: relative;
}

.popup-form__input,
.popup-form__textarea {
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color $animation;
}

.popup-form__input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;

    &:focus {
        border-color: $accent-color;
        cursor: pointer;
        outline: none;
    }
}

.popup-form__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    fill: $title-text-color;

    transition: fill $animation;

    .popup-form__input:focus+& {
        fill: $accent-color;
    }
}

.popup-form__feedback {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 4px;
}

.popup-form__textarea {
    resize: none;
    height: 120px;
    padding: 12px 16px;

    font-size: 14px;
    letter-spacing: 0.01em;

    &:focus {
        border-color: $accent-color;
        cursor: pointer;
        outline: none;
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
}

.popup-form__agree {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    text-align: center;
}

.agree__checkbox {
    @extend %visually-hidden;
}

.agree__icon--box {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);

    opacity: 1;

    fill: $title-text-color;
}

.agree__icon--checked {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    opacity: 0;

    fill: $accent-color;

    transition: opacity $animation;

    .agree__checkbox:checked~& {
            opacity: 1;
    }
}

.agree__link {
    color: $accent-color;
}

