.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    flex-basis: calc((100% - 30px * (3 - 1)) / 3);
}

.portfolio__link {
    display: block;
    text-decoration: none;

    transition: box-shadow $animation;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.portfolio__img {
    display: block;
}

.portfolio__inner {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform $animation;

    padding: 63px 24px;

    color: $white-color;
    background-color: $accent-color;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    .portfolio__link:hover & {
        transform: translateY(0%);
    }
}

.portfolio__wrap {
    padding: 20px 24px;
    border: 1px solid $border-color;
    border-top: none;
}

.portfolio__title {
    margin-bottom: 4px;

    color: $title-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__text {
    color: $primary-text-color;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}